@use '../../common/scss/mixin';

.app-header {
  font-size: .14rem;
  color: #fff;
  background-color: #000;
  .app-header-wrapper {
    padding: .24rem .12rem .18rem .24rem;
    .avatar,.content {
      display: inline-block;
    }
    .avatar {
       .avatar-img {
         width:.64rem;
         height:.64rem;
       }
    }
    .content {
      margin-left: .16rem;
      .title {
        margin: .02rem 0 .08rem 0;
        .brand {
          display: inline-block;
          width: .3rem;
          height: .18rem;
          vertical-align: top;
          background-size: .3rem .18rem;
          background-repeat: no-repeat;
          @include mixin.bg-image('brand');
        }
        .name {
          margin-left: .06rem;
          font-size: .16rem;
          line-height: .18rem;
          font-weight: bold;
        }
      }
    }
  }
}